<h1>Sign In</h1>
<br>

<div class="row">
<div class="col-xs-6" style="min-width: 275px">
    <%= render 'shared/flash' %>

    <div id="user-toggle">
      <%= label_tag "instructor", "Instructor" %>
      <%= radio_button_tag "session", "instructor", "instructor" %>
      <span style='margin-left:7px'><%= label_tag "student", "Student" %>
      <%= radio_button_tag "session", "student", "student" %></span>
    </div>

    <br>

    <div id="student-signin">
      <%= form_for(@student, url: sessions_path) do |f| %>
      <%= render partial: "shared/student_session", locals: {f: f, user: @student} %>
      <% end %>
    </div>

    <div id="instructor-signin">
      <%= form_for(@instructor, url: sessions_path) do |f| %>
      <%= render partial: "shared/instructor_session", locals: {f: f, user: @instructor} %>
      <% end %>
    </div>
  </div>
</div>
