<h1><%= @lecture.title %></h1>
<p style="font-size: 125%">"<%= @lecture.description %>"</p>

<br>
<hr>

<p>Students can submit feedback for this lecture until <strong><%= @lecture_timer.lock_time_string %></strong>.</p>

<p>This lecture will be locked for feedback in <%= @lecture_timer.time_remaining_string %>.</p>
<div id="progressbar" timeRemainingPercent="<%= @lecture_timer.time_remaining_percent %>"></div>

<br>
<hr>

<%= render "shared/flash" %>

<% if @current_user.class == Student %>

<div id="feedback-area">
  <!-- Flash message for form failure -->

  <div id="review-boolean" type="hidden" data-has-review="<%= current_user.has_review?(@lecture.id) %>"></div>

  <!-- Completed feedback shown here in place of form -->
  <%= render partial: "completed_feedback", locals: { lecture: @lecture, current_user: @current_user } %>
  <!-- Form for submitting feedback -->
  <%= render partial: "feedback_form", locals: { lecture: @lecture, current_user: @current_user } %>

</div>

<% end %>

<br>

<%= button_to "Send Feedback (for testing)", { controller: "feedback", action: "collate_and_send", id: @lecture.id }, method: :post, class: "btn btn-submit" %>




