<h1><%= @lecture.title %></h1>
<h3><small>"<%= @lecture.description %>"</small></h3>

<div id="lecture-data" type="hidden" data-lecture-id="<%= @lecture.id %>"></div>

<br>
<hr>

<p>Students can submit feedback for this lecture until <strong><%= @lecture_timer.lock_time_string %></strong>.</p>

<p>This lecture will be locked for feedback in <%= @lecture_timer.time_remaining_string %>.</p>
<div id="progressbar" timeRemainingPercent="<%= @lecture_timer.time_remaining_percent %>"></div>

<br>
<hr>

<%= render "shared/flash" %>

<% if @current_user.class == Student %>

<div id="feedback-area">
  <!-- Flash message for form failure -->

  <div id="review-boolean" type="hidden" data-has-review="<%= current_user.has_review?(@lecture.id) %>"></div>

  <!-- Completed feedback shown here in place of form -->
  <%= render partial: "completed_feedback", locals: { lecture: @lecture, current_user: @current_user } %>
  <!-- Form for submitting feedback -->
  <%= render partial: "feedback_form", locals: { lecture: @lecture, current_user: @current_user } %>

</div>

<% end %>

<br>

<%= button_to "Send Feedback (for testing)", { controller: "feedback", action: "collate_and_send", id: @lecture.id }, method: :post, class: "btn btn-submit" %>

<% if @current_user.courses.include?(@lecture.course) && @current_user.class == Instructor %>
  <h3>Current Feedback</h3><br>
  <%= render partial: "reviews/reviews", locals: { reviews: @lecture.reviews} %>
<% elsif @current_user.class == Instructor %>
<p class='text-muted'>
  <br>
  Instructors who have joined this course can see the current feedback. You can join by clicking "Courses" on the sidebar, searching for the course, and submitting the course password
</p>
<% end %>



<!-- Progress bar decrementer -->
<script>
  var remaining;

  $(document).ready(function() {

    remaining = Number($("#progressbar").attr('timeRemainingPercent'))

    if (remaining > 0) {
      $("#progressbar").progressbar({
        value: remaining
      });
    }

    setInterval(function() {

      var lectureID = $('#lecture-data').attr('data-lecture-id');
      getTimeRemaining(lectureID);

      if (remaining > 0) {
        $("#progressbar").progressbar({
          value: remaining
        })
      } else {
        $("#progressbar").progressbar({
          value: 0
        })
      }

    }, 15000);

  });


  var getTimeRemaining = function(lectureID) {

    $.ajax({
      url: '/lectures/get_remaining_time',
      type: 'GET',
      data: { id: lectureID },
      success: function(response) {
        remaining = response.lecture_timer.time_remaining_percent;
      },
      error: function(response) {
        console.log("error " + JSON.stringify(response));
      }
    })
  }
</script>

<!-- JQuery UI CDN -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
