
<div class="form-group">
  <%= f.label :email, class: "control-label" %>
  <%= f.text_field :email, placeholder: "#{user.class} Email", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :password, class: "control-label" %>
  <%= f.password_field :password, placeholder: "#{user.class} Password", class: "form-control" %>
</div>

<div class="form-group" style="float: right">
  <%= f.submit "Sign In", id:"instructor-login-button", class: "btn btn-submit" %>
</div>

<small>New to Afterthought?</small>

<div>
  <small><%=link_to "Sign up as an instructor", instructor_signup_path %></small>
</div>
