<head>
  <meta name="viewport" content="width=device-width" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Afterthought Feedback</title>

</head>

<body>

  <!-- Body content -->
  <div style="font: 14px sans-serif;">

    <br>

    <%= image_tag attachments['afterthought_logo.png'].url, alt: 'Afterthought' -%>

    <br>

    <p>Hello <%= @current_user.name %>,</p>

    <p>Below is the feedback for your lecture <strong><em><%= @lecture.title %></em></strong>, from <%= @lecture.format_end_time %>.</p>

    <% @reviews.each do |content, student| %>
    <div style="font: 14px sans-serif; background-color: #3d004d; color: #ffffff"> 
      <br>
      <blockquote>
        <p><%= content %></p>
        <footer><em><%= student %></em></footer>
      </blockquote>
      <br>
    </div>
    <% end %>

    <br>

    Please visit <%= link_to "Afterthought", @lecture_url %> to manage your courses and see feedback for all of your lectures.

    <br>
    <br>

    <div style="float: right">
      <footer>
        Thank you,<br>
        <strong>The Afterthought Team</strong>
      </footer>
    </div>
  </div> <!-- End of Body Content -->


</body>
