
<!-- Table -->
<table class="table table-hover table-responsive">

  <th>Course ID</th>
  <th>Title</th>
  <th>Description</th>
  <th>Students Enrolled</th>

  <% courses.each do |course| %>

    <tr class="table-row-link" data-url="<%= course_path(course) %>">
      <td><%= course.id %></td>
      <td><%= course.title %></td>
      <td><%= course.description %></td>
      <td><%= course.students.count %></td>
    </tr>

  <% end %>

</table> <!-- End of table -->


<!-- <%= form_for(Course.new) do |f| %>
<div class="form-group">
  <label class="control-label">Find course by ID, name, or description:</label>
      <%= f.text_field :course, list: 'course-info', class: "form-control", placeholder: "I,D name, or description" %>
        <datalist id="course-info">
          <% Courses.all.each do |course| %>
            <option value="<%= restaurant.name %>"></option>
          <% end %>
        </datalist>
</div>
<% end %> -->
