
<!-- Table -->
<table class="table table-hover table-responsive" id='course-data-table'>

  <th>Course ID</th>
  <th>Title</th>
  <th>Description</th>
  <th>Students Enrolled</th>
  <th>Delete</th>

  <% courses.each do |course| %>

    <tr class="table-row-link" data-url="<%= course_path(course) %>">
      <td><%= course.id %></td>
      <td><%= course.title %></td>
      <td><%= course.description %></td>
      <td><%= course.students.count %></td>
      <td><a src="#" action='course-delete' id="<%= course.title.parameterize
       %>" title="<%= course.title %>">Remove</a></td>
    </tr>

  <% end %>

</table> <!-- End of table -->

<% if courses.empty? %>
<br>
 <h4 id="join-course-prompt"> <em>Please search for a course to join!</em></h4>
 <br>
<% end %>

<div class="ui-widget">
<label for="search"><button id='autocomplete-search' class='btn btn-sm btn-submit'>Search</button> </label>
<input id="search" size="50" placeholder="find course by name or description">
</div>

<div id="find-course">

</div>
