<% unless  students.empty? %>
  <ul class='div_common student-list'>
    <% students.each do |student| %>
      <li id="<%= student.name.parameterize %>">
        <b><h4 class='student-list'><b><%= student.name %></b></h4>
        <p class='student-list'><%= student.email %></p>
        <a src="#" action='remove-student' course="<%= course.id %>" student-id="<%= student.id%>" name="<%= student.name %>" class='remove-student student-list text-muted'>Remove</a>
        <br><br>
      </li>
      <% end %>
    </ul>
<% else %>
  <p class='text-muted'>
    There are currently no students in this course
  </p>
<% end %>
