<h1>Create New Course</h1>

<br>
<%= render 'shared/flash' %>

<%= form_for @course, class: "form-horizontal" do |f| %>

  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password (hint: one that you're comfortable sharing with other instructors)", class: " control-label" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
  </div>

  <div class="form-group">
    <div class="">
      <%= f.submit "Create Course", class: "btn btn-submit" %>
    </div>
  </div>
<% end %>
