<h1 course-id="<%= @course.id %>"><em><%= @course.title %></em></h1>
<h3><small><%= @course.description %></small></h3>
<hr>

<%= render 'shared/flash' %>
<div id="add-student-alerts"></div>

<% if @current_user.courses.include?(@course) && @current_user.class == Instructor %>
  <%= render partial: "course_show_buttons", locals: { course: @course} %>
<% elsif @current_user.class == Instructor %>
  <p class='text-muted'>
    Only instructors who have joined this course may add students and lectures. You can find the right page by clicking "Courses" on the sidebar
  </p>
<% end %>
<hr>

<br>
<% unless @lectures.empty? %>
  <button id="lecture-display" class='btn btn-lg btn-submit '>See Lectures</button>
  <button id="student-display" class='btn btn-lg btn-submit '>See Students</button>

  <%= render partial: "lecture_list", locals: { lectures: @lectures} %>

  <div>
    <%= render partial: "student_list", locals: { students: @students} %>
  </div>
<% else %>
  <p class='text-muted'>
    There are currently no lectures for this course
  </p>
<% end %>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
