<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        <%= image_tag "afterthought_logo_lightpurple_logo", alt: "Afterthought" %>
      </a>
    </li>
    <li>
      <% if current_user.class == Instructor %>
        <a href="<%= edit_instructor_path(current_user) %>"><%= current_user.name %></a>
      <% elsif current_user.class == Student %>
        <a href="<%= edit_student_path(current_user) %>"><%= current_user.name %></a>
      <% else %>
        <a href="<%= login_path %>">Guest</a>
      <% end %>
    </li>

    <li>
      <%= link_to "Courses", courses_path %>
    </li>
    <li>
      <%= link_to "Lectures", lectures_path %>
    </li>
    <li>
      <%= link_to "Reviews", reviews_path %>
    </li>
    <li>
      <%= link_to "Sign out", signout_path, method: :delete %>
    </li>
  </ul>
</div>
