<!DOCTYPE html>
<html>
<head>
  <title>Afterthought</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Bootstrap 3.3.6, minified -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Lato font family -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <%= favicon_link_tag 'favicon.png' %>

</head>

<body>

  <div id="wrapper">

    <!-- Render navbar depending on user type -->
    <% if false %>
    <% if current_user.class == "Instructor" %>
      <%= render partial: "layouts/instructor_navbar", locals: {current_user: @current_user } %>
    <% elsif current_user.class == "Student" %>
      <%= render partial: "layouts/student_navbar", locals: {current_user: @current_user } %>
    <% end %>
    <% end %>

    <!-- Placeholder -->
    <%= render 'layouts/instructor_navbar' %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
</body>
</html>
